#Content{
   display: flex; 
   justify-content: space-between;
   gap: 20px;
}
#Paragraph{
  margin-left: 90px; 
}
#books{
    zoom: 30%;
    margin-right: 750px;
    margin-top: 250px;

}
#box{
    padding: 10px 32px;
    background-color: white;
    border-radius: 20px;
    border: solid 1px;
    width: 80%
}
#sentence{
    font-size: x-large;
    font-size: bolder;
    font-family: Georgia Verdana;
    
    
}



.sign-up{
    background-color:black;
    color:white;
    padding:3px;
    cursor:pointer;
    border-radius: 70px;
    width: 200%;
    border-color: transparent;
    border-radius: 15px;


}
#navigation{
    display:flex;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 30px;
}
#heading{
    font-style: italic;
    line-height: 0cm;
    margin-bottom: 15px;


}
.search{
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    width: 110%;
    margin-right:20px ;
    border:  1px solid black;
    padding: 3px;
    border-radius: 20px;
}
.courses{
    border: 0cap;
    background-color: transparent;
}
.apply{
    background-color: transparent;
    border: 0cap;
    margin-left: 380px;
}
.sign-in{
    background-color: transparent;
    border: 0cm;
}
.apply,.sign-up,.sign-up{
    justify-content: space-evenly;
}
.courses,.search{
    justify-content: space-between;
    
}
#Container{
    height: 2000px;
    margin-bottom: 30px;
}
.body{
    background-color: #b65fcf;
    margin: 5%;
}
#Body{
    border: solid black 5px;
    background-color: pink;
    border-radius: 35px;
    padding: 1px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    padding-bottom: 150px;

}